.search-bar-container {
  display: block;
  border-style: solid;
  border-color: black;
}

.search-bar {
  height: 30px;
}

.search-icon {
  height: 30px;
  border-style: solid;
  border-color: black;
}
